  
body {
    margin: 0 auto;
    max-width: 1024px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

header {
    position: relative;
}

header nav {
    border-radius: 8px;
    width: 97%;
    margin: 0 auto;
}

header nav ul {
    padding: 10px;
}

header nav ul li {
    display: inline-block;
    margin-right: 20px;
}

.barra {
    background-image: linear-gradient(#e55300 3%,#fca66e 20%, #e55300 50%);
    color: white;
    font-weight: 600;
}

.titulo {
    color: white;
    text-shadow: 1px 1px 1px grey, -1px -1px 1px grey;
    font-size: 25px;
    margin: 0;
}

.titulo-logo {
    padding: 15px 25px 30px;
}

.redes {
    position: absolute;
    top: 30px;
    right: 30px;
}

.seccion1, .aside {
    display: inline-block;
    vertical-align: top;
}

.seccion1 {
    width: 58%;
}

.seccion1 .secc1art1 {
    text-align: center;
}

.seccion1 .secc1art1 img {
    width: 92%;
    margin-left: 35px;
}

.aside {
    width: 38%;
}

.secc1art2 h2 {
    color: grey;
    font-weight: 900;
}

.img-post {
    border: 10px solid #cccccc;
}

.aside .barra{
    border-radius: 20px;
    text-align: center;
    padding: 8px;
    margin-top: 20px;
    
}
.contenido-publicidad{
    margin-top: 20px;
    text-align: center;
}
.autor-post{
    position: absolute;
    margin-top: 10px;
    margin-left: 20px;
}

.parrafoPost{
 
top: 630px;
 width: 28%;
 position: absolute;
margin-left: 250px;
   
}

.italica-post{
    font-style: oblique;
    color: grey;
}
.textoPost h2{
   
    margin-left: 50px;
}

.botonleer{
    background-color: grey;
    border-radius: 8px;
    color: white;
    padding: 8px;
    font-weight: 1000;
    font-style: oblique;
    margin-left: 10px;
    position: absolute;
    margin-top: 150px;
}

.search{
    margin-top: 20px;
    border-radius: 8px;
    margin-left: 50px;
}

.go{
    border-radius: 100px;
    color: white;
    background-color: gray;
}

.categorias-aside nav{
    margin-top: 20px;
}
