/*
Degradados
2 colores: 0% 100%
3 colores: 0% 50% 100%
Background-image: valores para degradado
Tipo: Lineal y radial
Lineas: 
background-image: linear-gradient([direccion], color1, color2);
direccion: to right, left, bottom, top, top right, top left, bottom left, bottom right.
Inicios de color, medir en px, em, %.
Radial:
background-image: radial-gradient([shape], color1, color2);
dirección: at top, right, left, bottom, center
*/

.caja {
    width: 100px;
    height: 100px;
    border: none;
    /* background-image: linear-gradient(red 10%, blue 20% 70%, yellow 70%); */
    background-image: radial-gradient(ellipse 200px 50px at bottom, transparent 50%, blue 50%);
}

/*Box shadow
box-shadow: h-offset v-offset blur spread color inset|outset
h-offset: desplazamiento horizontal
v-offset: desplazamiento vertical
blur: Opcional - La cantidad de desenfoque de la sombra
spread: opcional - Es la extensión de la sombra
color: Opcional - color del texto por default
inset|outset: opcional - la sombra este por dentro o por fuera.
Sombras multiples
*/

.caja2 {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    margin: 20px;
    box-shadow: 10px 10px 1px 0 red, -10px -10px 30px 0 blue inset;
}

/*
    Text-shadow: h-offset v-offset blur color
    Sombras multiples
*/

.titulo {
    font-weight: 900;
    font-size: 30px;
    color: white;
    text-shadow: -1px -1px 1px red, 1px 1px 2px blue;
}