body{
	max-width: 1024px;
	margin: 0 auto;
	font-size: 13px;
}

header nav {
	display: inline-block;
    background-color: #FF69B4;
    text-align: center;
    width: 97%;
    padding: 3px 0 3px 0;
    margin: 0 0 50px 0 ;
}
header nav ul{
	 text-align: center;
	
}
header nav ul li{
	display: inline-block;
	color: white;
    margin-left: 15px;
    margin-right: 15px;
    font-weight: bold;
	
}
.div1{
	float: right;
    margin-bottom: 30px;
    margin-top: 30px;
}
#titulo{
	color: #FFDAB9;
 	font-size: 35px;
    font-weight: bold;
    margin-right: 200px;
}
#logo{
	width: 120px;
	margin-left: 30px;
}

.home{
 	padding: 10px 25px 10px 25px;
   	border-radius: 5px;
   	background-color: white;
   	color: yellowgreen;
}
#person{
	margin-bottom: 65px;
	width: 400px;
	border-radius: 50%;
	border: orange 3px solid;
}
.dtexto{
	display: inline-block;
    width: 40%;
    float: right;
    text-align: center;
    margin-right: 130px;
    margin-top: 50px;
}
#t1{
	color: #1E90FF;
	font-size: 25px;
}

#t3{
	text-align: center;
	color: #87CEFA;
}

#Read{
	font-size: 12px;
    background: #6B8E23;
    height: 30px;
    width: 100px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    color: #ffffff;
    margin-bottom: 45px;
}


footer{
	background: #FF69B4;
	color: white;
	display: inline-block;
	width: 100%;
	padding-bottom: 30px;
	font-size: 11px;
}

.texto{
	float: left;
	margin-left: 25px;
	margin-top: 15px;
}
.imagenes{
	float: right;
	margin-right: 35px;
	margin-top: 45px;
}

#i1{
	width: 30px;
}
#i2{
	width: 30px;
}
#i3{
	width: 30px;
}