body{
	max-width: 1024px;
	margin 0 auto;
	font-size: 16px;
}

header{
	background: #000000;

}
header nav{
	display: inline-block;
}
header nav ul{
	
}

header nav ul li{
	color:#ffffff;
	display: inline-block;
	margin-right: 20px;
}

section{
	background-image: url("../imagenes-ejercicioCSS3/bici.png");
	height: 500px;
	background-size: cover;
}

.buscar{
	float: right;
	width: 120px;
	height: 30px;
	margin: 10px 5px 0 0;
	background: #000000;
	border:1px solid #grey;
	border-radius: 5px;
}
#logo{
	width: 120px;
}